{% extends 'app_general/components/base.html' %}
{% load static %}

{% block site_title %} {{ food.title }} | {% endblock %}

{% block content %}
<section class ="content-section content-section-single">
  <div class="content-container">
    {% if food is not None %}
    <div class="food-box">
      <div class="grid grid-2">
        <img class="image-block" src="{% static food.image_relative_url %}">
        <div>
          <h2>{{ food.title }}</h2>
          <p><span class="label">Description : </span>{{ food.description }}</p>
          <p><span class="label">Price : </span>{{ food.price }} บาท </p>
          {% if food.recommend %}
          <p><span class="label recommend">⭐️Recommend⭐️</span></p>
          {% endif %}
          <form method="post" action="{% url 'add_to_cart' food.id %}" class="add_to_cart">
          {% csrf_token %}
          <div class="quantity-row">
            <label for="quantity">Quantity : </label>
            <input type="number" name="quantity" id="quantity" min="1" value="1" required class="quantity-input">
          </div>
          <button type="submit" class="add-to-cart-btn">Add To Cart</button>
          </form>
        </div>
      </div>
    </div>
    {% else %}
      <p>ไม่พบเมนู</p>
    {% endif %}
  </div>
</section>

{% endblock %}